html{
    background-color: rgb(40, 9, 5);
}

header{
    background-color: rgb(80, 38, 11);
    text-align: center;
    width: 80%;
    margin: auto;
    color: white;
}

section{
    background-color: rgb(116, 10, 3);
    width: 40%;
    margin: auto;
    padding: 1%;
    border-radius: 2em;
}

article{
    background-color: rgb(195, 17, 12);
    width: 80%;
    height: 15rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1em;
    transition: 0.3s;

}

article:hover{
    width: 90%;
    height: 20rem;
}

button{
    width: 100%;
    height: 100%;
}

canvas{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

nav{
    background-color: rgb(195, 17, 12);
    height: 3rem;
    width: 20%;
    margin: auto;
    margin-bottom: 1rem;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;;
}